.vscode
.direnv
.envrc
debug_pipeline_tmp_tables.sql

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.toc
*.out
*.synctex.gz
*.synctex(busy)
*.run.xml
*.nav
*.snm
*.vrb
*.dvi
*.fff
*.ttt
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdy
*.brf
*.pdfsync
*.figlist
*.makefile
*.figlist
*.spl
*.sta
*.upa
*.upb
*.wrt
*.xmpi
*.bak
*-converted-to.*


